* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    background-image: url("/imgs/sun-8066051_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container1 {
    height: 100%;
    width: 100%;
    background-color: rgba(193, 166, 193, 0.475);
}

    .wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header {
    text-transform: uppercase;
    color: rgb(245, 253, 250);
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 80%;
}
.weatherIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.weatherWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.degrees {
    position: relative;
    margin: 0 auto;
    font-size: 70px;
    color: rgb(112, 85, 85);
}
.city {
    position: relative;
    margin: 0 auto;
    font-size: 40px;
}
.weatherDescription, .city {
    margin-top: 5px;
    color: rgb(112, 85, 85);
    text-transform: capitalize;
}
.weatherInfo {
    display: none;
}
.weatherInfo2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin: 0 auto;
    margin-top: 18px;
    font-size: 20px;
}
.weatherInfo p {
    font-size: 20px;
    color: rgb(96, 74, 74);
}
.value {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.inputWrapper {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
input {
    height: 40px;
    width: 250px;
    font-size: 16px;
    text-align: center;
    background: #694d4d47;
}

input::placeholder {
    color: white;
}
.submitBtn {
    height: 40px;
    width: 70px;
    background: #cea0a047;
    color: white;
}

.submitBtn:hover {
    cursor: pointer;

}



/* CLOUDY */
.cloudy {
	animation: cloudy 5s ease-in-out infinite;
	background: #FFFFFF;
	border-radius: 50%;
	box-shadow: 
		#FFFFFF 65px -15px 0 -5px, 
		#FFFFFF 25px -25px, 
		#FFFFFF 30px 10px, 
		#FFFFFF 60px 15px 0 -10px, 
		#FFFFFF 85px 5px 0 -5px;
	height: 50px;
	width: 50px; 
	 margin-left: -70px;
     margin-top: 70px;
    
}
.cloudy:after {
	animation: cloudy_shadow 5s ease-in-out infinite;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 120px;
	opacity: 0.2;
	position: absolute;
	left: 5px; 
	bottom: -60px;
  transform: scale(1);
}
@keyframes cloudy {
	50% { transform: translateY(-20px); }
}
@keyframes cloudy_shadow {
	50% { transform: translateY(20px) scale(.7); opacity:.05; }
}

@media (min-width: 576px) { 
  .rowWrapper {
    display: flex;
    flex-direction: row;
  }
  .degrees {
    font-size: 42px;
  }
  .city {
    font-size: 36px;
  }
  .weatherInfo p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .weatherWrapper {
    margin-top: 20px;
  }
  .weatherIcon {
    justify-content: left;
    margin-left: 70px;
  }

}


@media (min-width: 768px) {
    .wrapper {
        width: 70%;
    }
    .content {
        width: 100%;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 5px 5px rgb(121, 91, 91);
    }
    .weatherIcon {
        position: relative;
        left: 40px;
    }
    .inputWrapper {
        top:50px;
    }

}

@media (min-width: 992px) {


}

@media (min-width: 1200px) {


}

@media (min-width: 1400px) {


}